.sidebar
  {
    background-color: #164863; 
    width: 300px; 
    min-height: 100vh; 
    padding: 20px;
    z-index:1;
    position:absolute;
   
  
  }

  body {
    overflow-x: hidden;
     background-color: #F5F7F8;
  }

  .blurred {
    filter: blur(3px);
    transition: filter 0.3s ease; 
  }

  .text-light.flex-column.sidebar ul li a.nav-link:hover,
.text-light.flex-column.sidebar ul li button.nav-link:hover {
  background-color: rgba(255, 255, 255, 0.9); /* Set alpha (fourth value) to adjust transparency */
  opacity: 1; /* Adjust opacity if needed */
  color: #061c27;
  border-radius: 10px;
}


  .sidebar .active
  {
    background-color: #ffffff; 
    color: #154863; 
    border-radius:10px;
  }

    input.ng-invalid.ng-touched{
      border: red 1px solid;
    }
    small{
      color: red;
    }
  
    input[type=text],[type=number], select, textarea,[type=date]
    {
      width: 100%;
      padding: 7px 7px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 10px;
      box-sizing: border-box;
    }