


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Candidate Portal Home Page</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
</head>
<body>
  <header class="text-center m-0" style="background-color:#164863;">
    
    <nav class="navbar navbar-expand-sm navbar-light" style="padding: 5px 20px;">

        <button class="btn" (click)="sidebar()">
          <i class="fa fa-bars fa-2x" style="color: white;"></i>
        </button>
      
        <div class="container">
          <h2 class="navbar-brand d-flex align-items-center justify-content-center" style="font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 24px; margin-bottom: 0;">
            <b class="flex-row text-light">Career Vista</b>
          </h2>
          <button class="btn btn-primary m-1" data-bs-toggle="modal" data-bs-target="#addEducationModal" style="background-color: #164863; border-radius: 10px; color: white; font-family: 'Arial', sans-serif; font-size: 20px; text-shadow: 2px 2px 4px #000000;">
            <i class="fa fa-briefcase"></i> Add Education
        </button>
        
        </div>
      </nav>
    
  </header>

  

  <!-- sidebar started here -->

  <div *ngIf="showSidebar" class="text-light flex-column mb-auto sidebar">
    <ul style="list-style-type: none; padding: 0; margin: 0;">
      <li class="mb-3">
        <a class="nav-link" style="font-size:20px;" routerLink="">
          <i class="fa fa-home mr-2 fa-1x"></i>Home
        </a>
      </li>
      <li class="nav-item mb-3">
        <a class="nav-link" style="font-size:20px;" routerLink="/candidateProjects">
          <i class="fa fa-award  mr-2 fa-1x"></i>Projects
        </a>
      </li>
      <li class="mb-3">
        <a class="nav-link" style="font-size:20px;" routerLink="/candidateExperience">
          <i class="fa fa-user-tie mr-2 fa-1x"></i>Experience
        </a>
      </li>
      <li class="mb-3">
        <a class="nav-link" style="font-size:20px;" routerLink="/candidateJobs">
          <i class="fa fa-briefcase mr-2 fa-1x"></i>Jobs
        </a>
      </li>
      <li class="mb-3">
        <a class="nav-link" style="font-size:20px;" routerLink="/candidateApplications">
          <i class="fa fa-book-open mr-2 fa-1x"></i>Applications
        </a>
      </li>
      <li class="mb-3">
        <a class="nav-link" style="font-size:20px;" routerLink="/candidateEducation">
          <i class="fa fa-user-graduate mr-2 fa-1x"></i>Education
        </a>
      </li>
      <li class="mb-3">
        <a>
        <button class="nav-link" style="font-size:20px;" (click)="logOut()">
          <i class="fa fa-power-off mr-2 fa-1x"></i>Log Out
        </button>
    </a>
      </li>
      
    </ul>
  </div>

  <!-- sidebar ended here -->

 


  <div *ngIf="!showSidebar" class="text-dark min-vh-100" >


    <ng-container *ngIf="educations.length > 0">

        <div class="container">
           
        <div class="row">
            <ng-container *ngFor="let e of educations;">
              <div class="col-lg-4">
                <div class="container justify-content-between m-3">
                    <div class="card m-2 rounded shadow" style="width: 300px; background-color: #ffffff;  transition: box-shadow 0.3s;">
                        <div class="card-body text-dark">
                            <h5 class="card-title">
                                <p class="text-center mb-4" style="font-size: 1.8rem; font-weight: bold; ">{{ e.courseName }}</p>
                                <p ><i class="fas fa-university mr-2" style="color:orangered"></i>{{ e.institution }}</p>
                            </h5>
                            
                            <p class="card-text" style="font-size: 1.2rem; ">
                                <i class="fas fa-certificate mr-2" style="color:rgb(88, 88, 228)"></i>Marks: {{ e.marks }}%
                            </p>
                            <div class="my-2">
                                <i class="fa fa-calendar mr-2" style="color:greenyellow"></i>{{ e.startDate}} to {{ e.endDate }}
                            </div>
                            <hr>
                            <button class="btn btn-danger mt-2" style="width: 100%;" (click)="delete(e.id)">Delete</button>
                        </div>
                    </div>
                    
                    
                    
                    
                    
                      
                      
                      
                      
                      
                
              </div>
            </div>
            </ng-container>
        </div>
    </div>
   
    </ng-container>

    <ng-container *ngIf="educations.length == 0">
      <h3 class="text-center mt-3 mb-4" style="text-shadow: 2px 2px 4px rgba(146, 146, 236, 0.7);">Currently you do not have any added education</h3>
    </ng-container>
      
      
   

  </div>

  <div *ngIf="showSidebar" class="text-dark min-vh-100" [class.blurred]="showSidebar">


    <ng-container *ngIf="educations.length > 0">

        <div class="container">
            
        <div class="row">
            <ng-container *ngFor="let e of educations;">
              <div class="col-lg-4">
                <div class="container justify-content-between m-3">
                    <div class="card m-2 rounded shadow" style="width: 300px; background-color: #ffffff;  transition: box-shadow 0.3s;">
                        <div class="card-body text-dark">
                            <h5 class="card-title">
                                <p class="text-center mb-4" style="font-size: 1.8rem; font-weight: bold; ">{{ e.courseName }}</p>
                                <p ><i class="fas fa-university mr-2" style="color:orangered"></i>{{ e.institution }}</p>
                            </h5>
                            
                            <p class="card-text" style="font-size: 1.2rem; ">
                                <i class="fas fa-certificate mr-2" style="color:rgb(88, 88, 228)"></i>Marks: {{ e.marks }}%
                            </p>
                            <div class="my-2">
                                <i class="fa fa-calendar mr-2" style="color:greenyellow"></i>{{ e.startDate}} to {{ e.endDate }}
                            </div>
                            <hr>
                            <button class="btn btn-danger mt-2" style="width: 100%;" (click)="delete(e.id)" [disabled]="showSidebar">Delete</button>
                        </div>
                    </div>
                    
                    
                    
                    
                    
                      
                      
                      
                      
                      
                
              </div>
            </div>
            </ng-container>
        </div>
    </div>
   
    </ng-container>

    <ng-container *ngIf="educations.length == 0">
      <h3 class="text-center mt-3 mb-4" style="text-shadow: 2px 2px 4px rgba(146, 146, 236, 0.7);">Currently you do not have any added education</h3>
    </ng-container>
      
      
   

  </div>

  <div class="modal fade" id="addEducationModal" tabindex="-1" role="dialog" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header" style="background-color: #75c0e2;">
          <h2 class="modal-title text-center">Add Education</h2>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close" (click)="addEducationForm.reset()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-dark">
          <form #addEducationForm="ngForm" (ngSubmit)="addEducation(addEducationForm.value); addEducationForm.reset()">
            
            <label for="institution">Institution*</label>
            <input type="text" class="form-control" id="institution" name="institution" ngModel required #institution="ngModel">
            <div *ngIf="institution.invalid && (institution.dirty || institution.touched)">
              <small>Institution is required.</small>
            </div>

            <label for="courseName">Course Name*</label>
            <input type="text" class="form-control" id="courseName" name="courseName" ngModel required #courseName="ngModel">
            <div *ngIf="courseName.invalid && (courseName.dirty || courseName.touched)">
              <small>Course Name is required.</small>
            </div>

          
            <label for="marks">Marks in percentage*</label>
            <input type="number" class="form-control" id="marks" name="marks" ngModel required #marks="ngModel"/>
            <div *ngIf="marks.invalid && (marks.dirty || marks.touched)">
              <small>If Education is not completed then enter the last score</small>
            </div>
         
          
            <label for="startDate">Starting Date*</label>
            <input type="date" class="form-control" id="startDate" name="startDate" ngModel required #startDate="ngModel">
            <div *ngIf="startDate.invalid && (startDate.dirty || startDate.touched)">
              <small>Starting Date is required.</small>
            </div>
          
          
            <label for="endingDate">Ending Date*</label>
            <input type="date" class="form-control" id="endDate" name="endDate" ngModel required #endDate="ngModel">
            <div *ngIf="endDate.invalid && (endDate.dirty || endDate.touched)">
              <small>Ending Date is required.</small>
            </div>

            
          
         
          <button type="submit" class="btn btn-primary m-2" data-bs-dismiss="modal"  [disabled]="addEducationForm.invalid">Submit</button>
        </form>
        </div>
        <!-- <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Submit</button>
        </div> -->
      </div>
    </div>
  </div>

 


  <footer>
    <div class="text-center py-2" style="background-color: #9BBEC8;">
      <p class="mb-0">&copy; 2023 Your Company. All rights reserved.</p>
    </div>
  </footer>

  <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
</body>


</html>







