body {
    overflow-x: hidden;
     background-color: #F5F7F8;
  }

  .my-container {
    
    padding: 15px;
    
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle box shadow */
  }
  
  .chart-container {
    border: 1px solid #ddd;
    border-radius: 8px;
  }
  