<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Candidate Portal Home Page</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
</head>
<body>
  <header class="text-center m-0" style="background-color:#164863; color: white;">
    <nav class="navbar navbar-expand-sm navbar-light">
      <button class="btn" (click)="sidebar()"><i class="fas fa-bars fa-2x" style="color:white"></i></button>
      <div class="container">
        <h2 class="navbar-brand d-flex align-items-center justify-content-center" style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size:30px; color: white;">
          <b class="flex-row"> Career Vista</b>
        </h2>
        <div class=" d-lg-block d-md-block d-sm-block ml-auto">
          <!-- Your buttons here -->
        </div>
      </div>
    </nav>
  </header>

  <div *ngIf="showSidebar" class="text-light flex-column mb-auto sidebar">
    <ul style="list-style-type: none; padding: 0; margin: 0;">
      <li class="mb-3">
        <a class="nav-link" routerLink="">
          <i class="fa fa-home mr-2"></i>Home
        </a>
      </li>
      <li class="nav-item mb-3">
        <a class="nav-link" routerLink="/candidateProjects">
          <i class="fa fa-award  mr-2"></i>Projects
        </a>
      </li>
      <li class="mb-3">
        <a class="nav-link" routerLink="/candidateExperience">
          <i class="fa fa-user-tie mr-2"></i>Experience
        </a>
      </li>
      <li class="mb-3">
        <a class="nav-link" routerLink="/candidateJobs">
          <i class="fa fa-briefcase mr-2"></i>Jobs
        </a>
      </li>
      <li class="mb-3">
        <a class="nav-link" routerLink="/candidateApplications">
          <i class="fa fa-book-open mr-2"></i>Applications
        </a>
      </li>
      <li class="mb-3">
        <a class="nav-link" routerLink="/candidateEducation">
          <i class="fa fa-user-graduate mr-2"></i>Education
        </a>
      </li>
      <li class="mb-3">
        <button class="nav-link" (click)="logOut()">
          <i class="fa fa-power-off mr-2"></i>Log Out
        </button>
      </li>
      
    </ul>
  </div>

  <div *ngIf="!showSidebar" class="min-vh-100"></div>

  <footer>
    <div class="text-center py-2" style="background-color: #9BBEC8;">
      <p class="mb-0">&copy; 2023 Your Company. All rights reserved.</p>
    </div>
  </footer>

  <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

</body>
</html>
