<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Candidate Portal Home Page</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
</head>
<body>
  <header style="background-color: #154863">
    <nav
      class="navbar navbar-expand-sm navbar-light"
      style=" padding: 5px 20px;
      position: fixed;
      width: 100%;
      z-index: 999;
      min-height: 10vh;
      background-color: #154863;"
    >
      

     
      <div class="container d-flex align-items-center justify-content-between">
  
          <!-- Brand/logo -->
          <h2 class="navbar-brand" style="font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 24px; margin-bottom: 0;">
            <b class="text-light">
              Career Vista</b>
          </h2>
      
          <!-- Buttons aligned to the left -->
          <div class="d-flex align-items-center">
            
            <a routerLink="/companyProfile">
              <button
                class="btn m-1"
                
                style="
                  background-color: #164863;
                  border-radius: 10px;
                  color: white;
                  font-family: 'Helvetica Neue', sans-serif;
                "
              >
                <i
                  class="fas fa-user"
                  style="margin-right: 5px; font-size: 18px"
                ></i>
                <span
                  style="
                    font-weight: bold;
                    font-size: larger;
                    text-transform: capitalize;
                  "
                  >{{ currentCompany.name }}</span
                >
              </button>
            </a>
            <button class="btn m-1" (click)="logOut()" style="background-color: #164863; border-radius: 10px; color: white; font-family: 'Helvetica Neue', sans-serif;">
              <i class="fas fa-power-off" style="margin-right: 5px; font-size: 18px;"></i>
              <span style="font-weight: bold; font-size: larger;">Log Out</span>
            </button>
          </div>
        </div>
      
    </nav>
  </header>

  <div class="min-vh-100" style="padding-top:15vh;">
   
      <div class="row container justify-content-center mx-5 px-5">
      
        <div class="card col-5 text-center text-light my-4 mx-2" style="height:200px; background-color: #427D9D;">
          <div class="card-body">
            <h4 class="card-title">Employees</h4>
            <h4 class="display-6">
              <i class="fas fa-user mr-3"></i>{{allEmployees.length}}
            </h4>
            <a routerLink="/companyEmployees" class="btn btn-outline-light btn-md">
              View
            </a>
          </div>
        </div>
      
        <div class="card col-5 text-center text-light my-4 mx-2" style="height:200px; background-color: #427D9D;">
          <div class="card-body">
            <h4 class="card-title">Jobs</h4>
            <h4 class="display-6">
              <i class="fas fa-briefcase mr-3"></i>{{allJobs.length}}
            </h4>
            <a routerLink="/companyJobs" class="btn btn-outline-light btn-md">
              View
            </a>
          </div>
        </div>
     
    </div>
    <div class="col-12 my-container">
     
    
      <div class="chart-container p-4 ">
        <div >
          <h4 class="text-center" style="font-size:30px;">Yearwise Analysis of Jobs and Applications</h4>
          <button style="margin-left:90%; width:90px;" class="btn-sm " >Select Year
             <select class="form-control" [(ngModel)]="currentYear" (change)="onYearChange()">
              <option *ngFor="let year of years" [value]="year">{{ year }}</option>
            </select>
          
        </button>
        </div>
        <canvas id="MyChart">{{ chart }}</canvas>
      </div>
    </div>
    
    
    
     
      
    </div>
   
 

  <footer>
    <div class="text-center text-light py-2" style="background-color: #164863;">
      <p class="mb-0">&copy; 2023 Your Company. All rights reserved.</p>
    </div>
  </footer>

  <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

</body>
</html>
