<!--  -->


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Candidate Portal Home Page</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
</head>
<body>
  <header class="text-center" style="background-color:#164863">
    
    <nav class="navbar navbar-expand-sm navbar-light" style="padding: 5px 20px;">

      <button class="btn" (click)="sidebar()">
        <i class="fas fa-bars fa-2x" style="color: white;"></i>
      </button>
    
      <div class="container">
        <h2 class="navbar-brand d-flex text-light align-items-center justify-content-center" style="font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 24px; margin-bottom: 0;">
          <b class="flex-row"> Career Vista</b>
        </h2>
    
        <div class="d-lg-block d-md-block d-sm-block ml-auto">
          <button *ngIf="candidateDesignation==='workingProfessional'" class="btn btn-primary m-1" data-bs-toggle="modal" data-bs-target="#postJobModal" style="background-color: #164863; border-radius: 10px;">
            <i class="fa fa-handshake"></i> Post a Job
          </button>
          
         
         
        </div>
      </div>
    </nav>
    
    
    
  </header>

  <!-- Modals start from here -->
  <div class="modal fade" id="postJobModal" tabindex="-1" role="dialog" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header" style="background-color: #96B6C5;">
          <h2 class="modal-title ">Post a new job</h2>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close" (click)="postJobForm.reset()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" >
          <form #postJobForm="ngForm" (ngSubmit)="postJob(postJobForm.value); postJobForm.reset()">
            
              <label for="role">Role*</label>
              <input type="text" class="form-control" id="role" name="role" ngModel required #role="ngModel">
              <div *ngIf="role.invalid && (role.dirty || role.touched)">
                <small>Role is required.</small>
              </div>

            
              <label for="description">Skills*</label>
              <textarea class="form-control" id="description" name="description" ngModel required #description="ngModel"></textarea>
              <div *ngIf="description.invalid && (description.dirty || description.touched)">
                <small>Skill is required.</small>
              </div>
           
            
              <label for="vacancy">Vacancy*</label>
              <input type="number" class="form-control" id="vacancy" name="vacancy" ngModel required #vacancy="ngModel">
              <div *ngIf="vacancy.invalid && (vacancy.dirty || vacancy.touched)">
                <small>Vacancy is required.</small>
              </div>
            
            
              <label for="salary">Salary Per Annum(in lpa)*</label>
              <input type="number" class="form-control" id="salary" name="salary" ngModel required min="1" #salary="ngModel">
              <div *ngIf="salary.invalid && (salary.dirty || salary.touched)">
                <small>Please enter a positive value of salary.</small>
              </div>

              <div style="margin:5px">
              <label for="location" 
              >Location</label
            >
            <select
              name="location"
              id="location"
              [(ngModel)]="selectedLocation"
             
            >
              <option value="Remote">Remote</option>
              <option value="On-Site">On Site</option>
              <option value="Hybrid">Hybrid</option>
            </select>
          </div>
           
            <button type="submit" class="btn btn-primary m-2" data-bs-dismiss="modal" [disabled]="postJobForm.invalid">Submit</button>
          </form>
          
        </div>
        <!-- <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Submit</button>
        </div> -->
      </div>
    </div>
  </div>
  

  

  

  

  <!-- modals end here -->

  <!-- sidebar started here -->

  <div *ngIf="showSidebar" class="text-light flex-column mb-auto sidebar">
    <ul style="list-style-type: none; padding: 0; margin: 0;">
      <li class="mb-3">
        <a class="nav-link" style="font-size:20px;" routerLink="">
          <i class="fa fa-home mr-2 fa-1x"></i>Home
        </a>
      </li>
      <li class="nav-item mb-3">
        <a class="nav-link" style="font-size:20px;" routerLink="/candidateProjects">
          <i class="fa fa-award  mr-2 fa-1x"></i>Projects
        </a>
      </li>
      <li class="mb-3">
        <a class="nav-link" style="font-size:20px;" routerLink="/candidateExperience">
          <i class="fa fa-user-tie mr-2 fa-1x"></i>Experience
        </a>
      </li>
      <li class="mb-3">
        <a class="nav-link" style="font-size:20px;" routerLink="/candidateJobs">
          <i class="fa fa-briefcase mr-2 fa-1x"></i>Jobs
        </a>
      </li>
      <li class="mb-3">
        <a class="nav-link" style="font-size:20px;" routerLink="/candidateApplications">
          <i class="fa fa-book-open mr-2 fa-1x"></i>Applications
        </a>
      </li>
      <li class="mb-3">
        <a class="nav-link" style="font-size:20px;" routerLink="/candidateEducation">
          <i class="fa fa-user-graduate mr-2 fa-1x"></i>Education
        </a>
      </li>
      <li class="mb-3">
        <a>
        <button class="nav-link" style="font-size:20px;" (click)="logOut()">
          <i class="fa fa-power-off mr-2 fa-1x"></i>Log Out
        </button>
    </a>
      </li>
      
    </ul>
  </div>

  <!-- sidebar ended here -->

  <!-- Jobs start here -->


  <div *ngIf="!showSidebar" class="row min-vh-100 text-dark" >
  </div>

  <!-- Jobs end here -->

 


  <footer>
    <div class="text-center py-2" style="background-color: #9BBEC8;">
      <p class="mb-0">&copy; 2023 Your Company. All rights reserved.</p>
    </div>
  </footer>

  <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
</body>


</html>






  
