<!--  -->


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Candidate Portal Home Page</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
</head>
<body>
  <header class="text-center m-0"  >
    
    <nav class="navbar navbar-expand-sm navbar-light" style=" padding: 5px 20px;
    position: fixed;
    width: 100%;
    z-index: 999;
    min-height: 10vh;
    background-color: #154863;">

      <!-- Button to toggle the sidebar -->
      <button class="btn" (click)="sidebar()">
        <i class="fas fa-bars fa-2x" style="color: white;"></i>
      </button>
    
      <div class="container d-flex align-items-center justify-content-between">
    
        <!-- Brand/logo -->
        <h2 class="navbar-brand" style="font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 24px; margin-bottom: 0;">
          <b class="text-light">Career Vista</b>
        </h2>
    
        <!-- Buttons aligned to the left -->
        <div class="d-flex align-items-center">
          <a routerLink="/candidateProfile">
            <button
              class="btn m-1"
              
              style="
                background-color: #164863;
                border-radius: 10px;
                color: white;
                font-family: 'Helvetica Neue', sans-serif;
              "
            >
              <i
                class="fas fa-user"
                style="margin-right: 5px; font-size: 18px"
              ></i>
              <span
                style="
                  font-weight: bold;
                  font-size: larger;
                  text-transform: capitalize;
                "
                >{{ currentCandidate.firstName }}</span
              >
            </button>
          </a>
    
          <button class="btn m-1" (click)="logOut()" style="background-color: #164863; border-radius: 10px; color: white; font-family: 'Helvetica Neue', sans-serif;">
            <i class="fas fa-power-off" style="margin-right: 5px; font-size: 18px;"></i>
            <span style="font-weight: bold; font-size: larger;">Log Out</span>
          </button>
        </div>
      </div>
    </nav>
    
    
    
  </header>

  <!-- Modals start from here -->
  

 

  <!-- modals end here -->

  <!-- sidebar started here -->

  <div *ngIf="showSidebar" style="padding-top:15vh;" class="text-light flex-column mb-auto sidebar">
    <ul style="list-style-type: none; padding: 0; margin: 0;">
      <li class="mb-3" routerLinkActive="active">
        <a class="nav-link" style="font-size:20px;" routerLink="/candidateHome">
          <i class="fa fa-home mr-2 fa-1x"></i>Home
        </a>
      </li>
      <li class="mb-3" routerLinkActive="active">
        <a class="nav-link" style="font-size:20px;" routerLink="/candidateProjects">
          <i class="fa fa-award  mr-2 fa-1x"></i>Projects
        </a>
      </li>
      <li class="mb-3" routerLinkActive="active">
        <a class="nav-link" style="font-size:20px;" routerLink="/candidateExperience">
          <i class="fa fa-user-tie mr-2 fa-1x"></i>Experience
        </a>
      </li>
      <li class="mb-3" routerLinkActive="active">
        <a class="nav-link" style="font-size:20px;" routerLink="/candidateJobs">
          <i class="fa fa-briefcase mr-2 fa-1x"></i>Jobs
        </a>
      </li>
      <li class="mb-3" routerLinkActive="active">
        <a class="nav-link" style="font-size:20px;" routerLink="/candidateApplications">
          <i class="fa fa-book-open mr-2 fa-1x"></i>Applications
        </a>
      </li>
      <li class="mb-3" routerLinkActive="active">
        <a class="nav-link" style="font-size:20px;" routerLink="/chat">
          <i class="fa fa-comment mr-2 fa-1x"></i>Chats
        </a>
      </li>
      <li class="mb-3" routerLinkActive="active">
        <a class="nav-link" style="font-size:20px;" routerLink="/candidateEducation">
          <i class="fa fa-user-graduate mr-2 fa-1x"></i>Education
        </a>
      </li>
      <li class="mb-3" routerLinkActive="active">
        <a>
        <button class="nav-link" style="font-size:20px;" (click)="logOut()">
          <i class="fa fa-power-off mr-2 fa-1x"></i>Log Out
        </button>
    </a>
      </li>
      
    </ul>
  </div>

  <!-- sidebar ended here -->

 


  <div *ngIf="!showSidebar" style="padding-top: 15vh;" [class.blurred]="showSidebar" class="min-vh-100 text-dark" >


    <ng-container *ngIf="allApplications.length > 0">
      <div class="d-flex justify-content-center align-items-center">
       <div class="table-responsive mb-5" style="width: 1200px;">
         
         <table class="table table-bordered table-hover m-3">
           <thead >
             <tr >
               <th class="text-center text-light" 
               style="background-color: #072541;font-size:19px;font-family:'Segoe UI', 
               Tahoma, Geneva, Verdana, sans-serif">
                 Role</th>
               <th class="text-center text-light" style="background-color: #072541;font-size:19px;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">Company</th>
               
               <th class="text-center text-light" style="background-color: #072541;font-size:19px;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">Date of Application</th>
               <th class="text-center text-light" style="background-color: #072541;font-size:19px;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">Status</th>
               <th class="text-center text-light" style="background-color: #072541;font-size:19px;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">Activeness</th>
               <th  class="text-center text-light" style="background-color: #072541;font-size:19px;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">Action</th>
             </tr>
           </thead>
           <tbody>
            
             <tr *ngFor="let application of allApplications | paginate : { itemsPerPage: itemsPerPage, currentPage: p,};
             " class="my-2" >
               <td class="text-center">{{ application.role }}</td>
               <td class="text-center">{{ application.companyName }}</td>
               <td class="text-center">{{ application.applyDate }}</td>
               <ng-container *ngIf="application.status === 'Accepted'">
                 <td class="text-center bg-success">{{ application.status }}</td>
               </ng-container>
               <ng-container *ngIf="application.status === 'Rejected'">
                 <td class="text-center bg-danger">{{ application.status }}</td>
               </ng-container>
               <ng-container *ngIf="application.status === 'Pending'">
                 <td class="text-center">{{ application.status }}</td>
               </ng-container>
             
               <ng-container *ngIf="application.active">
                 <td class="text-center">Active</td>
               </ng-container>
               <ng-container *ngIf="!application.active">
                 <td class="text-center bg-secondary  ">Inactive</td>
               </ng-container>
             
              
               <td class="text-center">
                 <button class="text-white p-1" style="border-radius:5px;" (click)="openSweetAlert(application.id)" [disabled]="application.withdrawn || (application.status == 'Accepted') || (!application.active) ||showSidebar"
                 [ngStyle]="{'background-color': (application.withdrawn || application.status == 'Accepted' || !application.active) ? 'grey' : 'brown'}">
  
                Withdraw
                  
                 </button>
               </td>
             
             </tr>
             
           
           </tbody>
         </table>
       
       </div>
     </div>
  
     <pagination-controls class="pagination" (pageChange)="p = $event">
  
     </pagination-controls>
   </ng-container>
  
   <ng-container *ngIf="allApplications.length == 0">
   <h2 class="text-center m-3"> Currently you do not have any application.</h2>
   </ng-container>
      
 

  </div>

  
 <div *ngIf="showSidebar" style="padding-top: 15vh;" class="min-vh-100 text-dark mb-5" [class.blurred]="showSidebar">

  <ng-container *ngIf="allApplications.length > 0">
    <div class="d-flex justify-content-center align-items-center">
     <div class="table-responsive mb-5" style="width: 1200px;">
       
       <table class="table table-bordered table-hover m-3">
         <thead >
           <tr >
             <th class="text-center text-light" 
             style="background-color: #072541;font-size:19px;font-family:'Segoe UI', 
             Tahoma, Geneva, Verdana, sans-serif">
               Role</th>
             <th class="text-center text-light" style="background-color: #072541;font-size:19px;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">Company</th>
             
             <th class="text-center text-light" style="background-color: #072541;font-size:19px;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">Date of Application</th>
             <th class="text-center text-light" style="background-color: #072541;font-size:19px;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">Status</th>
             <th class="text-center text-light" style="background-color: #072541;font-size:19px;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">Activeness</th>
             <th  class="text-center text-light" style="background-color: #072541;font-size:19px;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">Action</th>
           </tr>
         </thead>
         <tbody>
          
           <tr *ngFor="let application of allApplications | paginate : { itemsPerPage: itemsPerPage, currentPage: p,};
           " class="my-2" >
             <td class="text-center">{{ application.role }}</td>
             <td class="text-center">{{ application.companyName }}</td>
             <td class="text-center">{{ application.applyDate }}</td>
             <ng-container *ngIf="application.status === 'Accepted'">
               <td class="text-center bg-success">{{ application.status }}</td>
             </ng-container>
             <ng-container *ngIf="application.status === 'Rejected'">
               <td class="text-center bg-danger">{{ application.status }}</td>
             </ng-container>
             <ng-container *ngIf="application.status === 'Pending'">
               <td class="text-center">{{ application.status }}</td>
             </ng-container>
           
             <ng-container *ngIf="application.active">
               <td class="text-center">Active</td>
             </ng-container>
             <ng-container *ngIf="!application.active">
               <td class="text-center bg-secondary  ">Inactive</td>
             </ng-container>
           
            
             <td class="text-center">
               <button class="text-white p-1" style="border-radius:5px;" (click)="openSweetAlert(application.id)" [disabled]="application.withdrawn || (application.status == 'Accepted') || (!application.active) ||showSidebar"
               [ngStyle]="{'background-color': (application.withdrawn || application.status == 'Accepted' || !application.active) ? 'grey' : 'brown'}">

              Withdraw
                
               </button>
             </td>
           
           </tr>
           
         
         </tbody>
       </table>
     
     </div>
   </div>

   <pagination-controls class="pagination" (pageChange)="p = $event">

   </pagination-controls>
 </ng-container>

 <ng-container *ngIf="allApplications.length == 0">
 <h2 class="text-center m-3"> Currently you do not have any application.</h2>
 </ng-container>
  </div> 
 


  <footer>
    <div class="text-center text-light py-2" style="background-color: #164863;">
      <p class="mb-0">&copy; 2023 Your Company. All rights reserved.</p>
    </div>
  </footer>

  <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
</body>


</html>






  
