<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Candidate Portal Home Page</title>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
      integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
      integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <header  style="background-color: #154863">
        
      <nav class="navbar navbar-expand-sm navbar-light" style="padding: 10px;">

        <button class="btn" (click)="sidebar()">
          <i class="fa fa-bars fa-2x" style="color: white;"></i>
        </button>
      
        <div class="container">
          <h2 class="navbar-brand d-flex align-items-center justify-content-center" style="font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 24px; margin-bottom: 0;">
            <b class="flex-row text-light">Career Vista</b>
          </h2>
        </div>
      </nav>
      
    
    </header>

    <!-- Job show starts here -->

    <div *ngIf="!showSidebar" class="row min-vh-100">
      <div class="col-3 text-light" style="background-color: #164863e7">
        <div class="m-4">
          <h5>Job Preferences</h5>

          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value="softwaredeveloper"
              [(ngModel)]="softwareDeveloperChecked"
              (change)="onCheckboxChange()"
              id="softwaredeveloper"
            />
            <label class="form-check-label" for="softwaredeveloper">
              Software Developer
            </label>
          </div>

          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value="businessanalyst"
              [(ngModel)]="businessAnalystChecked"
              (change)="onCheckboxChange()"
              id="businessanalyst"
            />
            <label class="form-check-label" for="businessanalyst">
              Business Analyst
            </label>
          </div>

          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value="tester"
              [(ngModel)]="testerChecked"
              (change)="onCheckboxChange()"
              id="tester"
            />
            <label class="form-check-label" for="tester"> Tester </label>
          </div>
        </div>
        <div class="m-4">
          <h5>Location Preferences</h5>

          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value="Remote"
              [(ngModel)]="remoteChecked"
              (change)="onCheckboxChange()"
              id="Remote"
            />
            <label class="form-check-label" for="Remote"> Remote </label>
          </div>

          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value="On-Site"
              [(ngModel)]="onSiteChecked"
              (change)="onCheckboxChange()"
              id="On-Site"
            />
            <label class="form-check-label" for="On-Site"> On-Site </label>
          </div>

          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value="Hybrid"
              [(ngModel)]="hybridChecked"
              (change)="onCheckboxChange()"
              id="Hybrid"
            />
            <label class="form-check-label" for="Hybrid"> Hybrid </label>
          </div>
        </div>
      </div>

      <div class="col-9 flex-column  min-vh-100">
        <div class="row">
        <ng-container *ngFor="let job of filteredJobs; let i=index">
          <div class="col-lg-6">
            <div
              class="card my-2 rounded"
            style="width:400px;"
            >
              <!-- <img src="../../assets/job.jpg" class="card-img-top" alt="Service 1" /> -->
              <div class="card-body text-black" style="background-color:#ebe3d5d8;">

                <p><b style="font-family:'Lucida Sans';">{{ job.role }}</b><span><i class="fas fa-compass mr-2"></i>{{ job.location }}</span></p>

                <p><i class="fa fa-home mr-2" style="color:rgb(243, 139, 20);" data-bs-toggle="tooltip" data-bs-placement="top" title="Company Name"></i>
                    {{ job.company.name }}</p>
               
                <p><i class="fas fa-comments-dollar mr-2" style="color:rgb(24, 206, 24);" data-bs-toggle="tooltip" data-bs-placement="top" title="Salary"></i>
                    {{ job.salary }} lpa</p>

                <p><i class="fas fa-book mr-2" style="color:rgb(206, 24, 109);" data-bs-toggle="tooltip" data-bs-placement="top" title="Skills"></i>{{ job.description }}</p>
                
                <p><i class="fas fa-users mr-2" style="color:rgb(17, 13, 252);"data-bs-toggle="tooltip" data-bs-placement="top" title="Vacancy"></i>{{ job.vacancy }}</p>
                
                
                <div class="modal fade" id="companyModal" tabindex="-1" role="dialog" aria-hidden="true" data-bs-backdrop="static">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header" style="background-color: #96B6C5;">
                          <h2 class="modal-title text-center">About us</h2>
                          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body text-dark">
                        <p>Name of the company : <b style="font-family: 'Courier New', Courier, monospace;">{{job.company.name}}</b></p>
                         <p>CEO Name : {{job.company.ceoName}}</p>
                         <p>Founding Date : {{job.company.foundingDate}}</p>
                         <p></p>
                         <p></p>
                        </div>
                       
                      </div>
                    </div>
                  </div>
               
                  <p class="text-center">
                  <ng-container *ngIf="currentCandidate.username === job.user.username"> 
                    <button class="m-1 p-2 text-white" style="border-radius: 10px; width:100px;background-color:#164863" (click)="deleteJob(job.id)">
                        Delete
                    </button>
                  </ng-container>
                  <ng-container *ngIf="currentCandidate.username === job.user.username"> 
                    <button class="m-1 p-2 text-white" style="border-radius: 10px; width:110px;background-color:#164863" (click)="getApplicationsViaJob(job.id)">
                       Applications
                    </button>
                  </ng-container>
                  <ng-container *ngIf="currentCandidate.username !== job.user.username"> 
                    <button class="m-1 p-2 text-white" style="border-radius: 10px;width:100px;background-color:#164863" (click)="applyForJob(job)">
                        Apply
                    </button>
                  </ng-container>
                  <ng-container *ngIf="currentCandidate.username !== job.user.username">
               <button class="m-1 p-2 text-white" data-bs-toggle="modal" data-bs-target="#companyModal" style="border-radius: 10px; width:100px;background-color:#164863">
                  About Us
                </button>
                <div *ngIf="(i + 1) % 2 === 0" class="w-100"></div>
            </ng-container>
          </p> 
              </div>
            </div>
          </div>
        </ng-container>
    </div>
      </div>
    
    </div>

    <!-- Job show ends here -->

    <!-- Sidebar starts here -->

    <div *ngIf="showSidebar" class="text-light flex-column mb-auto sidebar">
      <ul style="list-style-type: none; padding: 0; margin: 0;">
        <li class="mb-3">
          <a class="nav-link" style="font-size:20px;" routerLink="">
            <i class="fa fa-home mr-2 fa-1x"></i>Home
          </a>
        </li>
        <li class="nav-item mb-3">
          <a class="nav-link" style="font-size:20px;" routerLink="/candidateProjects">
            <i class="fa fa-award  mr-2 fa-1x"></i>Projects
          </a>
        </li>
        <li class="mb-3">
          <a class="nav-link" style="font-size:20px;" routerLink="/candidateExperience">
            <i class="fa fa-user-tie mr-2 fa-1x"></i>Experience
          </a>
        </li>
        <li class="mb-3">
          <a class="nav-link" style="font-size:20px;" routerLink="/candidateJobs">
            <i class="fa fa-briefcase mr-2 fa-1x"></i>Jobs
          </a>
        </li>
        <li class="mb-3">
          <a class="nav-link" style="font-size:20px;" routerLink="/candidateApplications">
            <i class="fa fa-book-open mr-2 fa-1x"></i>Applications
          </a>
        </li>
        <li class="mb-3">
          <a class="nav-link" style="font-size:20px;" routerLink="/candidateEducation">
            <i class="fa fa-user-graduate mr-2 fa-1x"></i>Education
          </a>
        </li>
        <li class="mb-3">
          <a>
          <button class="nav-link" style="font-size:20px;" (click)="logOut()">
            <i class="fa fa-power-off mr-2 fa-1x"></i>Log Out
          </button>
      </a>
        </li>
        
      </ul>
    </div>

  

   

    

    <!-- Sidebar ends here -->

    <!-- footer starts here -->

    <footer>
      <div class="text-center py-2" style="background-color: #9bbec8">
        <p class="mb-0">&copy; 2023 Your Company. All rights reserved.</p>
      </div>
    </footer>

    <!-- Footer ends here -->

   
    <script
      src="http://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
      integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
      integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
