.sidebar
  {
    background-color: #164863; 
    width: 300px; 
    min-height:100vh; 
    padding: 20px;
    z-index:1;
    position:absolute;
    
  }

  body {
    overflow-x: hidden;
     background-color: #F5F7F8;
  }

 

  .text-light.flex-column.sidebar ul li a.nav-link:hover,
.text-light.flex-column.sidebar ul li button.nav-link:hover {
  background-color: rgba(255, 255, 255, 0.9); /* Set alpha (fourth value) to adjust transparency */
  opacity: 1; /* Adjust opacity if needed */
  color: #061c27;
  border-radius: 10px;
}


  .sidebar .active
  {
    background-color: #ffffff; 
    color: #154863; 
    border-radius:10px;
  }
  .blurred {
    filter: blur(3px);
    transition: filter 0.3s ease; 
  }
 
.card-body p:nth-child(1) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 1.5;
   
  }
  
.card-body p:nth-child(1) b {
    font-size: 20px;
   
  }
  
  /* Add border style for job.location */
 .card-body p:nth-child(1) span {
    border: 2px solid black;
    border-radius:30px;
    background-color: black;
    color:white;
    padding: 5px;
  }
  

  
  
  .pagination {
    position: relative;
    bottom: 0px; /* Adjust the distance from the bottom */
    text-align: center;
    padding: 10px;
    padding-top:10%;
    left:20%;
    
  }

  /* .ngx-pagination .current {
    background: #154863!important;
    background-image: initial !important;
    background-position-x: initial !important;
    background-position-y: initial !important;
    background-size: initial !important;
    background-repeat-x: initial !important;
    background-repeat-y: initial !important;
    background-attachment: initial !important;
    background-origin: initial !important;
    background-clip: initial !important;
    background-color: #154863!important;
    color: #fff!important;
} */
   
  