.sidebar
  {
   
    background-color: #164863; 
    width: 300px; 
    min-height: 102.5vh; 
    padding: 20px;
    z-index:1;
    position:absolute;
    
  
  }

  .blurred {
    filter: blur(3px); 
    transition: filter 0.1s ease;
  }

  .text-light.flex-column.sidebar ul li a.nav-link:hover,button.nav-link:hover {
    background-color: #ffffff; 
    color: #164863; 
    border-radius:10px;
  }
  input[type=text],[type=number], select, textarea,[type=date]{
    width: 100%;
    padding: 7px 7px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
  }
  
  input.ng-invalid.ng-touched{
    border: red 1px solid;
  }
  small{
    color: red;
  }
